
<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href="">
            Đặng Thái Tây
          </a>
        </li>
        <li>
          <a href="">
            Trinity
          </a>
        </li>
        <li>
          <a href="fb.com/thaitay.gun">
            Blog
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      {{test | date: 'yyyy'}}, Designed by
      <a href="" target="_blank">Tây MTP</a>. Coded by
      <a href="" target="_blank">Đặng Thái Tây</a>.
    </div>
  </div>
</footer>
