<footer class="page-footer text-center font-small mt-4 wow fadeIn">
  <hr class="my-4">
  <!-- Social icons -->
  <div class="pb-4">
    <a  target="_blank">
      <i class="fab fa-facebook-f mr-3"></i>
    </a>

    <a target="_blank">
      <i class="fab fa-twitter mr-3"></i>
    </a>

    <a  target="_blank">
      <i class="fab fa-youtube mr-3"></i>
    </a>

    <a  target="_blank">
      <i class="fab fa-google-plus-g mr-3"></i>
    </a>

    <a target="_blank">
      <i class="fab fa-dribbble mr-3"></i>
    </a>

    <a  target="_blank">
      <i class="fab fa-pinterest mr-3"></i>
    </a>

    <a  target="_blank">
      <i class="fab fa-github mr-3"></i>
    </a>

    <a  target="_blank">
      <i class="fab fa-codepen mr-3"></i>
    </a>
  </div>
  <!-- Social icons -->

  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
        <h3 class="mb-4 font-weight-bold">LIÊN HỆ</h3>
        <ul class="f-address">
          <li>
            <div class="row">
              <div class="col-1"><i class="fas fa-map-marker"></i></div>
              <div class="col-10">
                <h5 class="font-weight-bold mb-0">Address:</h5>
                <p><a >HÀ NỘI</a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-1"><i class="far fa-envelope"></i></div>
              <div class="col-10">
                <h5 class="font-weight-bold mb-0">Email:</h5>
                <!--                <h6 class="font-weight-bold mb-0">Have any questions?</h6>-->
                <p><a >taydangthai@gmail.com</a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-1"><i class="fas fa-phone-volume"></i></div>
              <div class="col-10">
                <h5 class="font-weight-bold mb-0">Phone number:</h5>
                <p><a >0387118896</a></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
        <h3 class="mb-4 font-weight-bold">CHÍNH SÁCH</h3>
        <ul class="f-address">
          <li>
            <div class="row">
              <div class="col-1"><i class="fa fa-lock" aria-hidden="true"></i></div>
              <div class="col-10">
                <p class="mb-2"><a >Chính sách bảo mật</a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-1"><i class="fa fa-truck" aria-hidden="true"></i></div>
              <div class="col-10">
                <p class="mb-2"><a >Chính sách vận chuyển</a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-1"><i class="fa fa-life-ring" aria-hidden="true"></i></div>
              <div class="col-10">
                <p class="mb-2"><a >Đổi trả và bảo hành</a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-1"><i class="fa fa-user-circle" aria-hidden="true"></i></div>
              <div class="col-10">
                <p class="mb-0"><a >Quy định sử dụng</a></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
        <h3 class="mb-4 font-weight-bold">HỖ TRỢ</h3>
        <ul class="support">
          <li>
            <div class="row">
              <div class="col-1"><i class="fa fa-lock" aria-hidden="true"></i></div>
              <div class="col-10">
                <p class="mb-2"><a >Kiểm tra đơn hàng</a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-1"><i class="fa fa-user-circle" aria-hidden="true"></i></div>
              <div class="col-10">
                <p class="mb-2"><a routerLink="login">Đăng nhập</a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-1"><i class="fa fa-user" aria-hidden="true"></i></div>
              <div class="col-10">
                <p class="mb-0"><a routerLink="register">Đăng ký</a></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
        <h4 class="mb-4 font-weight-bold">CONVERSE ALL START</h4>
        <video width="320" height="240" controls>
          <source src="../../../../assets/images/10%20Things%20You%20Didn't%20Know%20About%20Converse%20All%20Star.mp4" type="video/mp4">
          <source src="movie.ogg" type="video/ogg">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>

  <!--Copyright-->
  <div class="footer-copyright py-3">
    © 2021 Copyright:
    <a  target="_blank"> taymtp </a>
  </div>
  <!--/.Copyright-->

</footer>
