
<div class="container">
<app-cart-products [product]="products" (onRemoveProduct)="removeProduct($event)" (onUpdateQuantity)="updateQuantity($event)" numberItem="{{numberItem}}"></app-cart-products>
<section class="container ">
  <app-cart-promotion (onApplyPromoCode)="handleApplyPromo($event)"></app-cart-promotion>
  <app-cart-summary [sum]="subtotal" [tax]="tax" [total]="total" [discount]="discount"></app-cart-summary>

</section >
  <div *ngIf="activeNum==1" class="container" align="center">
    <form class="example-full-width" [formGroup]="orderForm" (ngSubmit)="orderForm.valid && onSubmit()" novalidate>

      <div class="form-group">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Số điện thoại</mat-label>
          <input type="number" matInput formControlName="phoneOrder">
        </mat-form-field>

      </div>
      <div class="form-group">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Địa chỉ</mat-label>
          <input matInput  formControlName="deliveryAddress">
        </mat-form-field>

      </div>

      <div class="form-group">

        <select class="example-full-width" appearance="fill" (change)="onChange(addCt.value)" #addCt>
          <option value="null">Chọn phương thức thanh toán</option>
          <option *ngFor="let a of payment" value="{{a.paymentId}}">{{a.paymentName}}</option>
        </select>
      </div>

      <div class="text-center">
        <button type="submit" mat-raised-button class="btn btn-round btn-success" >Xác nhận</button>

      </div>
    </form>

  </div>

  <section  class="summary"><button type="submit" (click)="checkOut()" *ngIf="activeNum==0">Đặt hàng</button></section>
</div>
