<!--<div class="alert alert-success" *ngIf="thongbao">{{thongbao}}</div>-->
<div class="panel-header">
  <div class="header text-center">
    <div class="d-flex justify-content-center">
      <div class="row">
        <form>
          <div class="input-group no-border">
            <input type="text" value="" class="form-control" placeholder="Search...">
            <div class="input-group-append">
              <div class="input-group-text">
                <i class="now-ui-icons ui-1_zoom-bold"></i>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <h2 class="title">Notifications</h2>
  </div>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Danh Sách Sản Phẩm</h4>
          <div class="text-center">
            <button mat-raised-button class="btn btn-round btn-primary"  (click)="openDialog()" >Thêm Sản Phẩm</button>
          </div>
          <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <li class="page-item">
                  <a class="page-link" tabindex="-1"  (click)="firstPage()">
                    <i class="fas fa-angle-double-left"></i>
                    <span class="sr-only">FistPage</span>
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link"  tabindex="-1" (click)="previousPage()">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item " *ngFor="let item of pageItem; let i=index;">
                  <button class="page-link" [ngClass]="{hidenItem:i+1<page-2||i+1>page+2,actives:i+1===page}"
                          (click)="setPage(i+1)"
                  >{{i+1}}</button>
                </li>
                <li class="page-item">
                  <a class="page-link" (click)="nextPage()">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link" tabindex="-1"  (click)="lastPage()">
                    <i class="fas fa-angle-double-right"></i>
                    <span class="sr-only">LastPage</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="card-body">
          <div class="table-hover">
            <table class="table">
              <thead class=" text-primary">
              <!--              <th>Check</th>-->
              <th>Mã</th>
              <th>Tên</th>
<!--              <th>Ảnh</th>-->
              <th>Giá</th>
              <th>Miêu Tả</th>
              <th>Số Lượng</th>
              <th>Danh Mục</th>
              <th>Nhà Cung Cấp</th>
              <th>Ảnh minh họa</th>
              <th class="text-right">Công cụ</th>
              </thead>
              <tbody *ngFor="let product of productPage, let i=index">

                <td>{{product.productId}}</td>
                <td>{{product.name}}</td>
<!--                <td >-->
<!--                  <img *ngIf="product.picture" [src]="product.picture.url"   height="60px" width="60px">-->
<!--                  <img *ngIf="!product.picture" src="../../../../assets/images/vans/era/Era1.jpg" alt="Card image cap" height="60px" width="60px">-->
<!--                </td>-->
                <td>{{product.price | currency : 'vnđ'+' ':'symbol' : '1.0-0'}}</td>
                <td>{{product.description}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.category.categoryName}}</td>
                <td>{{product.supplier.supplierName}}</td>
                <td><app-table-product [product]="product" productId="{{product.productId}}"></app-table-product></td>
                <td class="td-actions text-right">
                  <button (click)="detailProduct(product.productId)" type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Show">
                    <i class="now-ui-icons ui-1_zoom-bold"></i>
                  </button>
                  <button (click)="editProduct(product.productId)" type="button" rel="tooltip" data-toggle="modal" data-target="#edit" title="" class="btn btn-success btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                    <i class="now-ui-icons ui-2_settings-90"></i>
                  </button>
                  <button (click)="deleteProduct(product.productId)" type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                  </button>
                </td>

              </tbody>
            </table>

            <hr>

            <div class="card-footer py-4">
              <nav aria-label="...">
                <ul class="pagination justify-content-end mb-0">
                  <li class="page-item">
                    <a class="page-link" tabindex="-1"  (click)="firstPage()">
                      <i class="fas fa-angle-double-left"></i>
                      <span class="sr-only">FistPage</span>
                    </a>
                  </li>
                  <li class="page-item">
                    <a class="page-link"  tabindex="-1" (click)="previousPage()">
                      <i class="fas fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item " *ngFor="let item of pageItem; let i=index;">
                    <button class="page-link" [ngClass]="{actives:i+1===page}"
                            (click)="setPage(i+1)"
                    >{{i+1}}</button>
                  </li>
                  <li class="page-item">
                    <a class="page-link" (click)="nextPage()">
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" tabindex="-1"  (click)="lastPage()">
                      <i class="fas fa-angle-double-right"></i>
                      <span class="sr-only">LastPage</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

